---
import { Image } from "astro:assets";
import WashingIcon from "@icons/washing.png";

const { title, text, image } = Astro.props;
---

<article class="card">
  <Image src={image} alt="Icono de Shampoo" class="card__icon" />
  <h3 class="card__title">{title}</h3>
  <p class="card__description">
    {text}
  </p>
</article>

<style lang="scss">
  @reference '@styles/global';

  .card {
    @apply text-left rounded px-5 py-6 shadow-[-4px_6px_11px_0px_rgba(0,_0,_0,_0.1)] sm:max-w-[30%];

    &__icon {
      @apply w-14 h-14 mb-4 bg-red-200 p-2 rounded-4xl;
    }
    &__title {
      @apply mb-4;
    }
    &__description {
      @apply text-pretty;
    }
  }
</style>
